body {
  height: 125vh;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  background-image:  url(https://image.freepik.com/vector-gratis/conjunto-empanada_23-2148571240.jpg);
  margin-top: 80px;
  padding: 30px;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
   font-family: 'Courier New', Courier, monospace;  
}

p{
    margin: 25px;
    font-weight: bold;
    color: black;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    display: inline;

  }

div{
  color: black;
  }

  button{
    background-color: coral;
  }
  header {
    background-color: blanchedalmond;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}
  header * {
    display: inline;
  }

img {
  height: 500px;
  width: 1000px;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);

}
  
 